@import "../_variables.scss";


html {
  width: 100%;
}

body {
  width: 100%;
}

main {
  width: 100%;
}

#customer-1 {
  text-align: left;
  @media (min-width: 40rem) {
    text-align: right;
  }
}

#customer-2 {
  text-align: left;
  margin-top: 0;
  &.testimonial {
    @media (min-width: 40rem) {
    margin-top: 5rem;
    }
}

}

.testimonial {
  margin: 5rem auto;

  width: 100%;
  vertical-align: middle;
  font-size: 1.2rem;
  max-width: 1500px;
}

.testimonial__image-container {
  display: inline-block;
  width: 65%;
  padding: 1rem 0;
  vertical-align: inherit;
}

.testimonial__image-container img {
  width: 100%;
}

.testimonial__info {

  vertical-align: inherit;
  padding: 1rem;
  text-align: inherit;
  @media (min-width: 40rem) {
    display: inline-block;
    width: 30%;
  }


  h2, a {
    text-decoration: none;
    font-size: 1.2rem;
    color: map-get($colors, grey);
  }
  a:hover, a:active {
    color: darken(map-get($colors, grey), 15%);
  }

}

.testimonial__name {
  color: map-get($colors, red);
}
